* {
  background-color: #0d0930;
  color: white;
  line-height: 2;
}

.main,
ul {
  text-align: center;
  list-style-type: none;

  padding: 0;
  margin: 10px;
}

ul {
  font-size: 16px;
}

a {
  text-decoration: none;
}